<% if @name %>
<h1>Hello, my name is <%= @name %>.</h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Sumbit">
</form>
<div>
  <img src='http://bit.ly/1eze8aE', border= 30rem solid>
</div>
