
<h1><font size="+10">Welcome to Battle!</font></h1>
<h2>Please submit your names:</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
